/* Contenedor de los enlaces sociales */
.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
    background-color: trasparent; /* Fondo completamente transparente */
    border: none; /* Sin bordes */
    margin: 0; /* Sin margen superior */
}

/* Estilo de los botones */
.social-btn {
    width: 50px; /* Tamaño de los botones */
    height: 50px;
    display: flex;
    justify-content: center; /* Centrar la imagen horizontalmente */
    align-items: center;    /* Centrar la imagen verticalmente */
    background-color: #0d0d22; /* Añadimos de nuevo el fondo gris */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes ligeramente redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.social-btn img {
    width: 24px; /* Tamaño de los iconos */
    height: 24px;
}